.button {
   display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  /*text-decoration: none;*/
   align-items: center;
  align-content: center;
align-self: center;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
  margin-left: 50%;
  margin-right: -50%;

font: bold 12px Arial, Helvetica;

text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
}
* {
    box-sizing: border-box;
}

#list{
  margin-left: 40%;
  margin-right: -50%;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;

}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}
input[type=text] {
    width: 20%;
    align-items: center;
    padding: 10px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 1px;
    margin-left: 40%;
    margin-right: -50%;

}
